# Ignore the virtual environment directory
venv/

# Ignore the assets directory
assets/

# Ignore service logs
service_log/
service_logs/

# Ignore dist and build
dist/
build/

# Ignore compressed archives
*.zip
*.7z